/*
? ======================================= BELOW CODES ARE FOR LANDING PAGE =======================================================
*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.MainPage {
  background: #360369;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-size: 100px;
  margin-bottom: 20px;
}

#button {
  background-color: #fff;
  color: #000000;
  font-weight: 100;
  font-size: 20px;
  padding: 20px 48px;
  border-radius: 20px;
  border: none;
}

#button:hover, #button:active {
  background-color: #ff0;
  transition: all 300ms;
  scale: 1.05;
  cursor: pointer;
}

/*
? ======================================= BELOW CODES ARE FOR VIEW PAGE ========================================================
*/
body {
  /* background-color: #360369; */
}
.MainPage2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 75vh; */
  background-color: #360369;
  color: #ffffff;
  transition: all 1s ease-in;
  padding: 0 0 100px 0;
}

#MapBox {
  width: 75vw;
  height: 50vh;
  padding: 60px 0 0 0;
}

h2 {
  padding: 30px 0 0 30px;
}

#text2, #text3 {
  margin: 10px 0 20px 30px;
}

#latgap {
  padding: 10px 60px;
  background-color: #270846;
  margin-right: 15px;
  border-radius: 10px;
}

#longgap {
  padding: 10px 40px;
  background-color: #270846;
  border-radius: 10px;
}

.WeatherDetails {
  background-color: #fff;
  padding: 20px 80px;
}

#weatherdataText {
  color: #360369;
  margin-top: 15px;
  margin-left: 30px;
  font-size: 24px;
}

#box {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

#data{
 height: 7vh;
 width: 18vw;
 border-radius: 10px;
 background-color:#360369;
 color: #ffffff;
 margin-top: 20px;
 display: flex;
 align-items: center;
 padding-left: 10px;
}